
        <%= simple_form_for(:session, url: sessions_path) do |f| %>
              <div>
                <div>
                  <p>No account? Sign Up today! It's super easy</p>
                  <%= link_to "Sign Up", new_user_path%>
                </div>
              </div>
              <div class="span5">
                <fieldset id="inputs">
                  <%= f.input :email%>
                  <%= f.input :password %>
                </fieldset>
                <fieldset id="submit">
                  <%= f.button :submit, "Sign In", :id=>'submit'%>
                </fieldset>
              </div>
        <% end %>
